<p>
  <b>Framework URI:</b>
  <%=h @lsrs_framework.FrameworkURI %>
</p>
<p>
  <b>WebRoot:</b>
  <%=h @lsrs_framework.WebRoot %>
</p>
<p>
  <b>WebBase:</b>
  <%=h @lsrs_framework.WebBase %>
</p>
<p>
  <b>WebVersion:</b>
  <%=h @lsrs_framework.WebVersion %>
</p>
<p>
  <b>SourceName:</b>
  <%=h @lsrs_framework.SourceName %>
</p>
<p>
  <b>Extent:</b>
  <%=h @lsrs_framework.Extent %>
</p>
<p>
  <b>Group:</b>
  <%=h @lsrs_framework.Group %>
</p>
<p>
  <b>ShapeDir:</b>
  <%=h @lsrs_framework.ShapeDir %>
</p>
<p>
  <b>FrameworkName:</b>
  <%=h @lsrs_framework.FrameworkName %>
</p>
<p>
  <b>WarehouseName:</b>
  <%=h @lsrs_framework.WarehouseName %>
</p>
<p>
  <b>Organization_en:</b>
  <%=h @lsrs_framework.Organization_en %>
</p>
<p>
  <b>Title_en:</b>
  <%=h @lsrs_framework.Title_en %>
</p>
<p>
  <b>FrameworkKey:</b>
  <%=h @lsrs_framework.FrameworkKey %>
</p>
<p>
  <b>DataType:</b>
  <%=h @lsrs_framework.DataType %>
</p>
<p>
  <b>Length:</b>
  <%=h @lsrs_framework.Length %>
</p>
<p>
  <b>Decimals:</b>
  <%=h @lsrs_framework.Decimals %>
</p>
<p>
  <b>Complete:</b>
  <%=h @lsrs_framework.Complete %>
</p>
<p>
  <b>Relationship:</b>
  <%=h @lsrs_framework.Relationship %>
</p>
<p>
  <b>Scale:</b>
  <%=h @lsrs_framework.Scale %>
</p>
<p>
  <b>MaxScale:</b>
  <%=h @lsrs_framework.MaxScale %>
</p>
<p>
  <b>MinScale:</b>
  <%=h @lsrs_framework.MinScale %>
</p>
<p>
  <b>South:</b>
  <%=h @lsrs_framework.South %>
</p>
<p>
  <b>West:</b>
  <%=h @lsrs_framework.West %>
</p>
<p>
  <b>North:</b>
  <%=h @lsrs_framework.North %>
</p>
<p>
  <b>East:</b>
  <%=h @lsrs_framework.East %>
</p>
<p>
  <b>CenterLong:</b>
  <%=h @lsrs_framework.CenterLong %>
</p>
<p>
  <b>CenterLat:</b>
  <%=h @lsrs_framework.CenterLat %>
</p>
<p>
  <b>Zoom:</b>
  <%=h @lsrs_framework.Zoom %>
</p>
<p>
  <b>GetData:</b>
  <%=h @lsrs_framework.GetData %>
</p>
<p>
  <b>JoinData:</b>
  <%=h @lsrs_framework.JoinData %>
</p>
<p>
  <b>UpdateSupported:</b>
  <%=h @lsrs_framework.UpdateSupported %>
</p>
<p>
  <b>Publish:</b>
  <%=h @lsrs_framework.Publish %>
</p>
<p>
  <b>Version:</b>
  <%=h @lsrs_framework.Version %>
</p>

<%= link_to 'Edit', edit_lsrs_framework_path(@lsrs_framework) %> |
<%= link_to 'Back', lsrs_frameworks_path %>
