<%= render :partial => "/lsrs/clf1" %>
<title>LSRS data inputs for SLC</title>
<%= render :partial => "/lsrs/clf2" %>
<center>

<div id="main" >
<div id="header">
<h1>LSRS<br/>SLC climate/landscape inputs viewer</h1>
</div>

<p>Enter the SL number for an SLC version 3 polygon (e.g. 800001) to get its LSRS climate and landscape inputs.</p>
<form name="formSearch" method="get" action="/lsrsinput/service">
  <table>
    <tr>
      <td>Polygon number:</td>
      <td class="left"><input type="text" name="POLY_ID" size="25" /></td>
    </tr>
    <tr>
      <td>Type of data:</td>
      <td class="left">
        <br/>
        <input type="radio" name="DATA" value="landscape" /> Landscape
        <br/>
        <input type="radio" name="DATA" value="climate" checked="checked" /> Climate
        <select name="TABLE_NAME" size="1">
          <% for dataset in @climateDatasets do %>
          <option value="<%=dataset.WarehouseName%>"><%=dataset.Title_en%></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td/>
      <td class="left">
        <br/>
        <input type="submit" value="Get LSRS data">
      </td>
    </tr>
  </table>
</form>


</center>
<%= render :partial => "/lsrs/clf3" %>