<% content_for :title do %>LSRS detailed calculation<%end%>
<center>
<h2>Site Rating for <%=@site.crop.capitalize%></h2>
<table class="intro">
<tr><td class="subheader">Soil_id:</td><td class="Abbr"><%=params[:soil_id]%></td></tr>
<tr><td class="subheader">region:</td><td class="Abbr"><%=params[:region]%></td></tr>
<tr><td class="subheader">PPE:</td><td class="Abbr"><%=params[:ppe]%></td></tr>
<tr><td class="subheader">Slope:</td><td class="Abbr"><%=params[:slope]%></td></tr>
<tr><td class="subheader">Slope length:</td><td class="Abbr"><%=params[:length]%></td></tr>
<tr><td class="subheader">Stoniness:</td><td class="Abbr"><%=params[:stoniness]%></td></tr>
<tr></tr>
<tr><td class="subheader">Order:</td><td class="Abbr"><xsl:value-of select="Order3" /></td></tr>
<tr><td class="subheader">SubGroup.GreatGroup:</td><td class="Abbr"><%=@site.soil.SubGroup3%>.<xsl:value-of select="GreatGroup3" /></td></tr>
</table>
<br/>
<table cellspacing="0">