<tr><th colspan="9">4) Drainage Factor</th></tr>
	<tr>
		<td>Water Table Depth (cm) =</td>
		<td><%=@site.soil.WaterTableDepth.round(0)%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Moisture Deficit (P-PE) =</td>
		<td><%=@site.climate.PPE%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Surface Si (%) =</td>
		<td><%=@site.soil.SurfaceSi.round(0)%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Surface C (%) =</td>
		<td><%=@site.soil.SurfaceC.round(0)%></td>
		<td></td>
		<td></td>
		<td>drainage % reduction</td>
		<td><%=@site.soil.DrainagePercentReduction.round(0)%></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>total drainage deduction</td>
		<td><%=@site.soil.DrainageDeduction.round(0)%></td>
		<td class="Abbr">(<b>W</b>)</td>
		<td class="Abbr">more info</td>
	</tr>
