<p>
  <b>WarehouseName:</b>
  <%=h @lsrs_cmp.WarehouseName %>
</p>
<p>
  <b>PolygonTable:</b>
  <%=h @lsrs_cmp.PolygonTable %>
</p>
<p>
  <b>DSSClimatePolygonTable:</b>
  <%=h @lsrs_cmp.DSSClimatePolygonTable %>
</p>
<p>
  <b>SLCClimatePolygonTable:</b>
  <%=h @lsrs_cmp.SLCClimatePolygonTable %>
</p>
<p>
  <b>Soil Name Table:</b>
  <%=h @lsrs_cmp.NameTable %>
</p>
<p>
  <b>Soil Layer Table:</b>
  <%=h @lsrs_cmp.LayerTable %>
</p>
<p>
  <b>FrameworkURI:</b>
  <%=h @lsrs_cmp.FrameworkURI %>
</p>
<p>
  <b>Title_en:</b>
  <%=h @lsrs_cmp.Title_en %>
</p>

<%= link_to 'Edit', edit_lsrs_cmp_path(@lsrs_cmp) %> |
<%= link_to 'Index', lsrs_cmp_path %>
