<tr><th colspan="9">3) Other Factors</th></tr>
	<tr>
		<td class="Abbr">Surface Features</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Landscape Pattern =</td>
		<td><%=@site.landscape.Pattern%></td>
		<td>% reduction =</td>
		<td><%=@site.landscape.PatternPercentReduction%></td>
		<td class="Abbr">(<b>K</b>)</td>
		<td class="Abbr"><a href="/documentation/Section6_2_3">more info</a></td>
	</tr>
	<tr>
		<td class="Abbr">Flooding</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Frequency (%) =</td>
		<td><%=@site.landscape.FloodingFrequency%></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Inundation Period =</td>
		<td><%=@site.landscape.InundationPeriod%></td>
		<td>% reduction =</td>
		<td><%=@site.landscape.FloodingPercentReduction%></td>
		<td class="Abbr">(<b>I</b>)</td>
		<td class="Abbr"><a href="/documentation/Section6_2_4">more info</a></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>total % reduction of (<i>c</i>) =</td>
		<td><%=@site.landscape.TotalOtherPercentReduction%></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>total other deduction =</td>
		<td><%=@site.landscape.OtherDeduction%></td>
		<td class="Abbr">(<i>d</i>)</td>
		<td></td>
	</tr>
