<% content_for :title do %>LSRSv5 client<% end %>

<center>

<h1>Calculate an LSRSv5 rating</h1>

<%if @step == 1 then%>
  <%= render :partial => "client1" %>
<%else%>
  <%= render :partial => "client2" %>


  <h2>Step 2</h2>
  <form name="formSearch" method="get" action="polygon">
    <input type="hidden" name="FrameworkName" value="<%=@frameworkName%>" />
    <table>
      <tr>
        <td><b>Select a Polygon: </b></td>
        <td class="left"><input type="text" name="PolyId" size="25" /></td>
      </tr>
      <tr>
        <td colspan="2" class="mid">
				<%if @frameworkName[0..2].upcase=="SLC" then%>Enter a POLY_ID such as 244055 or 800001<%end%>
				<%if @frameworkName[0..2].upcase=="DSS" then%><%poly_id = eval(@patTable).first.poly_id%>Enter a POLY_ID such as <%=poly_id[0..5]%><b><%=poly_id[6..-1]%></b><%end%>
        </td>
      </tr>
      <%= render :partial => "client3" %>
      <%= render :partial => "client4" %>
      <%= render :partial => "client5" %>
      <tr><td colspan="2"><hr/></td></tr>
      <tr>
        <td><b>Select a type of Response: </b></td>
        <td class="left">
          <select name="RESPONSE" size="1">
            <option selected="selected" value="Details">Calculate</option>
            <option value="Summary">Summarize</option>
            <option value="Rate">Rate</option>
            <option value="Debug">Debug</option>
           </select>
        </td>
      </tr>
    </table>
    <br><input type="submit" value="List the ratings!">
  </form>
<%end%>

</center>
<ol>
<li>Select spatial framework => populate list of climate scenarios</li>
<li>Select climate scenario => populate example of polygon id</li>
<li>Enter polygon id, select crop, select management => populate list of urls for all components</li>
</ol>