<% content_for :title do %>LSRS detailed calculation<%end%>
<center>
<h2>Climate Rating for <%=@crop.capitalize%></h2>
<table class="intro">
<tr><td class="subheader">PPE:</td><td class="Abbr"><%=params[:ppe]%></td></tr>
<tr><td class="subheader">GDD:</td><td class="Abbr"><%=params[:gdd]%></td></tr>
<tr><td class="subheader">GSL:</td><td class="Abbr"><%=params[:gsl]%></td></tr>
<tr><td class="subheader">ESM:</td><td class="Abbr"><%=params[:esm]%></td></tr>
<tr><td class="subheader">EFM:</td><td class="Abbr"><%=params[:efm]%></td></tr>
</table>
<br/>
<table cellspacing="0">