<tr><th colspan="9">2) Heat Factors</th></tr>
  <tr>
		<td>Growing Degree Days (GDD)  =</td>
		<td><%=@site.climate.GDD%></td>
		<td>deduction =</td>
		<td><%=@site.climate.heat.HF1.ceil%></td>
		<td class="Abbr">(<i>h1</i>)</td>
		<td></td>
		<td></td>
		<td></td>
		<td class="Abbr"><a href="/lsrs5/documentation/climate/gdd/<%=@crop%>">more info</a></td>
	</tr>
  <tr>
		<td>Growing Season Length (GSL)  =</td>
		<td><%=@site.climate.GSL%></td>
		<td>deduction =</td>
		<td><%=@site.climate.heat.HF2.ceil%></td>
		<td class="Abbr">(<i>h2</i>)</td>
		<td></td>
		<td></td>
		<td></td>
		<td class="Abbr"><a href="/lsrs5/documentation/climate/gsl/<%=@crop%>">more info</a></td>
	</tr>
  <tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>maximum deduction =</td>
		<td><%=@site.climate.heat.H.ceil%></td>
		<td class="Abbr">(<b>H</b>)</td>
	</tr>
  <tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>heat rating =</td>
		<td><%=@site.climate.heat.Rating.floor%></td>
		<td class="Abbr">(<i>h</i>)</td>
	</tr>