<p>
  <b>Region:</b>
  <%=h @lsrs_soildata.Region %>
</p>
<p>
  <b>SoilNamesTable:</b>
  <%=h @lsrs_soildata.SoilNamesTable %>
</p>
<p>
  <b>SoilLayersTable:</b>
  <%=h @lsrs_soildata.SoilLayersTable %>
</p>
<p>
  <b>Title_en:</b>
  <%=h @lsrs_soildata.Title_en %>
</p>

<%= link_to 'Edit', edit_lsrs_soil_path(@lsrs_soildata) %> |
<%= link_to 'Index', lsrs_soil_path %>
