<%= render :partial => "/details_landscape/header" %>
  <h3>Mineral Soil Rating</h3>
<%= render :partial => "/details_landscape/rating_topography" %>
<%= render :partial => "/details_landscape/rating_fragments" %>
<%= render :partial => "/details_landscape/rating_other" %>
<%= render :partial => "/details_landscape/rating_final" %>
<%= render :partial => "/details_landscape/footer" %>
