<%= render :partial => "/details_soil/header" %>
<h3>Mineral Soil Rating</h3>
<%= render :partial => "/details_soil/mineral_waterholding" %>
<%= render :partial => "/details_soil/mineral_surface" %>
<%= render :partial => "/details_soil/mineral_subsurface" %>
<%= render :partial => "/details_soil/mineral_drainage" %>
<%= render :partial => "/details_soil/mineral_final" %>
<%= render :partial => "/details_soil/footer" %>

<%= render :partial => "/details_landscape/header" %>
<h3>Landscape Rating</h3>
<%= render :partial => "/details_landscape/rating_topography" %>
<%= render :partial => "/details_landscape/rating_fragments" %>
<%= render :partial => "/details_landscape/rating_other" %>
<%= render :partial => "/details_landscape/rating_final" %>
<%= render :partial => "/details_landscape/footer" %>
