<h1>LSRS Climate indices - debug</h1>

<%= render :partial => 'calculate' %> 


<table>
<tr>
<th><a href="/climateindices/documentation/julian.html">Day</a></th>
<th><a href="/climateindices/documentation/day.html">Date</a></th>
<th class="temp1"><a href="/climateindices/documentation/tmin.html">tmin</a></th>
<th class="temp1"><a href="/climateindices/documentation/tmax.html">tmax</a></th>
<th class="temp1"><a href="/climateindices/documentation/tmean.html">tmean</a></th>
<th class="temp4"><a href="/climateindices/documentation/tmean.html">tmean5</a></th>
<%if params[:chu2springdays] != "5" then%><th class="temp4"><a href="/climateindices/documentation/tmean.html">tmean<%=params[:chu2springdays]%></a></th><%end%>
<th class="temp4">t10ave</th>
<th class="temp4">t10min</th>
<th class="temp2"><a href="/climateindices/documentation/GDD.html">GDD</a></th>
<th class="temp2"><a href="/climateindices/documentation/GDD.html">GDDF</a></th>
<th class="temp2"><a href="/climateindices/documentation/EGDD.html">EGDD</a></th>
<th class="temp3"><a href="/climateindices/documentation/CHU.html">CHU1</a></th>
<th class="temp3"><a href="/climateindices/documentation/CHU.html">CHU2</a></th>
<th class="precip1"><a href="/climateindices/documentation/precip.html">precip</a></th>
<th class="precip2"><a href="/climateindices/documentation/radiation.html">Radiation</a></th>
<th class="precip2"><a href="/climateindices/documentation/pe.html">PE</a></th>
<th class="precip2"><a href="/climateindices/documentation/pe.html">P-PE</a></th>
<th class="temp2"><a href="/climateindices/documentation/EGDD.html">EGDDsum</a></th>

</tr>
<%egddsum = 0%>
<%for day in @station[:climate] do%>

<tr>
<td><%=day[:daynumber] %></td>
<td><%=Date.ordinal(@station[:year],day[:daynumber]).strftime("%b %d")%></td>
<td class="temp1"><%=number_with_precision(day[:tmin], :precision=>1)%></td>
<td class="temp1"><%=number_with_precision(day[:tmax], :precision=>1)%></td>
<td class="temp1"><%=number_with_precision(day[:tmean], :precision=>2)%></td>
<td class="temp4"><%=number_with_precision(day[:tmean5], :precision=>2)%></td>
<%if params[:chu2springdays] != "5" then%><td class="temp4"><%=number_with_precision(day[:tmean_n], :precision=>2)%></td><%end%>
<td class="temp4"><%=number_with_precision(day[:t10ave], :precision=>2)%></th>
<td class="temp4"><%=number_with_precision(day[:t10min], :precision=>2)%></th>
<td class="temp2"><%if day[:gdd] then%><%=number_with_precision(day[:gdd], :precision=>2)%><%end%></td>
<td class="temp2"><%if day[:gddf] then%><%=number_with_precision(day[:gddf], :precision=>2)%><%end%></td>
<td class="temp2"><%if day[:egdd] then%><%=number_with_precision(day[:egdd], :precision=>2)%><%end%></td>
<td class="temp3"><%=number_with_precision(day[:chu1], :precision=>2)%></td>
<td class="temp3"><%=number_with_precision(day[:chu2], :precision=>2)%></td>
<td class="precip1"><%=number_with_precision(day[:precip], :precision=>1)%></td>
<td class="precip2"><%=number_with_precision(day[:radiation], :precision=>2)%></td>
<td class="precip2"><%=number_with_precision(day[:pe], :precision=>2)%></td>
<td class="precip2"><%=number_with_precision(day[:ppe_cum], :precision=>1)%></td>
<td class="temp2"><%if day.key?(:egdd) then egddsum += day[:egdd]%><%=number_with_precision(egddsum, :precision=>0)%><%end%></td>

</tr>
<%end%>
</table>
<%if Date.leap?(@station[:year])%><p>Since <%=@station[:year]%> is a leap year, values for December 30 and 31 were collapsed.</p><%end%>
<hr/>

<hr/>
<pre>
Issues

TODO
- Collapse day 365/366 instead of day 1/2 for leap years -- DONE!
- CanHM calculation -- DONE!
- debug vs calculate mode
- User-defined start and end dates for EGDD, PE, P-PE
- Monthly normals - program and calculate
</pre>
