<%= render :partial => "/details_soil/header" %>
  <h3>Mineral Soil Rating</h3>
<%= render :partial => "/details_soil/rating_waterholding" %>
<%= render :partial => "/details_soil/rating_surface" %>
<%= render :partial => "/details_soil/rating_subsurface" %>
<%= render :partial => "/details_soil/rating_drainage" %>
<%= render :partial => "/details_soil/rating_final" %>
<%= render :partial => "/details_soil/footer" %>
